<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="SystemConnectionString" value="Data Source=localhost\sqlexpress;Initial Catalog=Pleiades;Integrated Security=True;"/>
    <add key="Server01ConnectionString" value="Data Source=localhost\sqlexpress;Initial Catalog=Pleiades;Integrated Security=True;"/>
    <add key="Server02ConnectionString" value="Data Source=localhost\sqlexpress;Initial Catalog=Pleiades;Integrated Security=True;"/>
    <add key="Server03ConnectionString" value="Data Source=localhost\sqlexpress;Initial Catalog=Pleiades;Integrated Security=True;"/>
    <add key="Server04ConnectionString" value="Data Source=localhost\sqlexpress;Initial Catalog=Pleiades;Integrated Security=True;"/>
  </appSettings>
</configuration>
